
:root {
  --pure-white: #ffffff;
  --phonely-white: #F4F7F5;
  --phonely-grey: #818AA3;
  --phonely-black: #111111;
  --phonely-brown: #362023;
  --phonely-primary-green: #8DB580;
  --phonely-secondary-green: #07393C;
  --phonely-rose: #E5C2C0;
  --phonely-red: #dc5460;
  --phonely-dark-red: #A52A35;
}
